.checkout-side-menu {
    width: 360px;
    height: 100vh;
    top: 64px;
    
}

.scrollable-cards {
	overflow: scroll;
}

  /* Chrome, Edge, and Safari */
  .scrollable-cards::-webkit-scrollbar {
    width: 16px;
		/* overflow-x: hidden; */
  }